
<div class="body-conact">

<div class="center">
    <h1>Contact Us</h1>
    <form method="post">
    <div class="txt-field">
      <input type="text" name="user" placeholder="Name">

      
      
    </div>
    <div class="txt-field">
      <input type="text" name="user" placeholder="Email">
    </div>
    <div class="txt-field">
      <input type="text" name="user" placeholder="Your message">
    </div>
    <div class="txt-field">
    <button type="submit" class="button">
      Send
    </button>
  </div>

    </form>
    </div>
</div>