
.register-container::before{
  content: "";
  background-color: var(--primary-color);
  width: 100px;
  height: 90vh;
  position: absolute;
  top: -28px;
  right: -31px;
  z-index: -1;
}
.register-container{
  width: 80vw;
  height: 80vh;
  font-family: sans-serif;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 50px ;
  margin-bottom: 90px ;

}
.col-md-12{
  display: flex;
}
.col-md-4{
  margin-left: 10px;
}
h1{
  text-align: center;
}
input.ng-touched.ng-invalid{
  border: 1px solid rgb(205, 25, 25);
}
.btn{
  margin-top: 30px;
  background-color: var(--primary-color);
  width: 30%;
  color: white;
  margin-left: 100px;
}
p{
  font-size: 14px;
  color: rgb(205, 25, 25);
}
.route{
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  color: green;
}
.route:hover{
  color: var(--primary-color);
}
form{
  width: 50%;
  padding: 20px;
}
.image{
  width: 50%;
  height: 80vh;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(90, 87, 87, 0.481)),url('src/assets/images/pexels-sam-lion-5710204.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.register-container img{
  height: 80vh;
  width: 100%;
}
.mint{
  width: 10rem;
  height: 10rem;
  position: relative;
  bottom: 170px;
  z-index: -1;
  left: 50px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  width: 90%;
  text-align: center;
  color:rgb(214, 213, 213);
  background:rgb(0, 0 , 0 ,.2);
}
span{
  font-size: 30px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

