.footer{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255, 134, 69, 0.867) 60%);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
    font-weight: bold;
}
.footer div{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center
}
img{
    max-height: 40vh;

}
.footer div div{
    display: inline-block;

}
