<div class="footer mt-5">
    <div class="container">
				<div style="width: 50%;">
          <img class="cta-img img-fluid" src="assets/images/logo.png" alt="">
        </div>


				<div >
          <h2>Get Social with Us :</h2>
          
          <div class="social mt-5 mb-3" style="width :100% ;font-size: 25px;" >
              <i class="fa fa-facebook" aria-hidden="true" style="margin-left:10px" ></i>
              <i class="fa fa-twitter" aria-hidden="true" style="margin-left:10px"></i>
              <i class="fa fa-google-plus" aria-hidden="true"style="margin-left:10px"></i>
              <button routerLink="contact-us" class="primary-btn" style="font-size: 15px ;margin-left:20px">contact us</button>
            </div>

            <p>© 2022 MR.Salta3 All Rights Reserved.</p>
				</div>
</div>
</div>
