
<div class="footer mt-5">
    <div class="container">
      <div class="text">
        <h3><span>MESTER</span> <br>-Salta3-</h3>
        <h4>Learn with us the best and most delicious recipes, by easiest way.</h4>
      </div>
<div class="about">
  <h3>About</h3>
  <a href=""><p>About Us</p></a>
  <a><p>Menu</p></a>
  <a><p>+972059765894</p></a>

</div>
				<div class="social">
          <h3>Contact</h3>
          <div class="social " style="width :100% ;font-size: 25px; " >
              <button routerLink="contact-us" class="primary-btn" >contact us</button><br>
              <i class="fa fa-facebook" aria-hidden="true" style="margin-left:10px" ></i>
              <i class="fa fa-twitter" aria-hidden="true" style="margin-left:10px"></i>
              <i class="fa fa-google-plus" aria-hidden="true"style="margin-left:10px"></i>
            </div>
				</div>
</div>
<div class="last-footer">
  <p>© 2022 MR.Salta3 All Rights Reserved.</p>
</div>
</div>
