<nav class="navbar navbar-expand-lg navbar-light bg-white mb-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " routerLink="home"><i class="fa fa-home" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact : true}"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="recipe"><i class="fa fa-cutlery" aria-hidden="true"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"></i> Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="cocktail"><i class="fa fa-glass" aria-hidden="true"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"></i> Cocktails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact-us"><i class="fa fa-phone" aria-hidden="true"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"></i> ContactUs</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn == true">
                    <a class="nav-link" routerLink="suggest"> Suggest</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn == true">
                    <a class="nav-link" routerLink="favorite"> Favorite</a>
                </li>
            </ul>
            <button class="btn" *ngIf="isLoggedIn == false" class="btn btn-outline me-2" routerLink="register">Sign Up ?</button>
            <button class="btn" *ngIf="isLoggedIn == false" class="btn btn-outline me-2" type="button"
                routerLink="/login">Login</button>
            <button class="btn" *ngIf="isLoggedIn == true" (click)="logout()" class="btn btn-outline me-2"
                type="button">Logout</button>
            <div class="social">
                <i class="fa fa-facebook" aria-hidden="true" style="margin-left:10px"></i>
                <i class="fa fa-twitter" aria-hidden="true" style="margin-left:5px"></i>
                <i class="fa fa-google-plus" aria-hidden="true" style="margin-left:5px"></i>
            </div>
        </div>
    </div>
</nav>
