
.navbar{
  font-family: 'SF Pro Display bold';
  background-color: white;
  width: 100vw;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 5px 2px 5px #dcdada;
}

.navbar-nav li a {
text-decoration: none;
color: black;
transition: 0.5s;
font-size: 18px;
font-family: 'SF Pro Display regular';
letter-spacing: 1px;

}
li{
color: black;
margin-left: 10px;

}
.navbar-nav li a:after{
content: "";
position: absolute;
background-color: var(--primary-color);
height: 3px;
width: 0%;
left: 0;
bottom: 5px;
transition: 0.4s;
}

.navbar-nav li a:hover{
color: var(--primary-color);
transform: scale(1.1);
}
.navbar-nav li a:hover:after{
width: 100%;
}
.btn{
border :1.5px solid var(--primary-color);
background-color: transparent;
color: var(--primary-color);
}
.btn:hover{
border :1px solid var(--primary-color);
background-color: var(--primary-color);
color: white;
}
img{
  width: 130px;
  height: 110px;
}
i:hover{
color: var(--primary-color);
}
.active{
color: var(--primary-color);

}
.profile{
  margin: auto;
  font-weight: bold;
}

.circle{
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  border-radius: 100%;
  margin: auto;
display: flex;
justify-content: center;
align-items: center;
}
.circle span{
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: 20px;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}
.dropbtn{
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4e4e4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover{
  background-color: #b2b1b1;
  color: white;
}


