.navbar{
    font-family: 'SF Pro Display bold';
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid lightgray;
}
.collapse{
  display: flex;
  justify-content: space-between;
  width: 55%;
}
ul{
  display: flex;
  justify-content: space-between;

}
.navbar-nav li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-size: 15px;
  font-family: 'SF Pro Display bold';
  letter-spacing: 1px;
}
li{
  color: black;
  margin-left: 10px;
}
.navbar-nav li a:after{
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: 5px;
  transition: 0.4s;
}

.navbar-nav li a:hover{
  color: var(--primary-color);
  transform: scale(1.1);
}
.navbar-nav li a:hover:after{
  width: 100%;
}
button{
  border :1.5px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}
button:hover{
  border :1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
img{
  width: 150px;
  height: 150px;
}
i:hover{
  color: var(--primary-color);
}
.active{
  color: var(--primary-color);

}
