.comment-container{
    position: relative;
}
.comment-container::before{
    content: "";
    background-color: rgb(171, 171, 171);
}
.comment-container:not(:first-child){
    margin-left: 3vw;
    margin-top: 1rem;
}

.comment-card{
    padding: 20px;
    background-color: white;
    width: 70%;
    margin: 10px 0;
    box-shadow: 0 0 2px rgb(93, 93, 93);
}
.comment-card h5, .comment-card p{
    margin-bottom: 1vh;
    margin-left: 3vh;
    font-weight: bold;
}
.comment-footer{
    display: flex;
    font-size: 15px;
    opacity: .6;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}
