<!-- Swiper -->
<div class=" swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/images/45.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h4>noor</h4>
        <p>i wold love to eat</p>
      </div></div>
    <div class="swiper-slide">
      <img src="../../../assets/images/27.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h4>noor</h4>
        <p>i wold love to eat</p>
      </div></div>
    <div class="swiper-slide">
      <img src="../../../assets/images/52.jpg"> 
      <div class="carousel-caption d-none d-md-block">
        <h4>noor</h4>
        <p>i wold love to eat</p>
      </div></div>
    <div class="swiper-slide">
      <img src="../../../assets/images/73.jpg"></div>
    <div class="swiper-slide">
      <img src="../../../assets/images/80.jpg"></div>
    
</div>
