<!-- Swiper -->
<div class=" swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="../../../assets/images/45.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h4>Welcom to You of  <span> Mester Salta3</span> </h4>
        <p>Real Cooking Is More About Following Your Heart Than Following Recipes</p>
      </div></div>
      <div class="swiper-slide">
        <img src="../../../assets/images/73.jpg">
        <div class="carousel-caption d-none d-md-block " style="width:20% ;margin-left:auto ">
          <h4 style="font-size:25px ; ">The Best Pizza With <br> Extra Cheese</h4>
        </div>
      </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/27.jpg">
<div >
        <h4>MR.Salta3 Recipes</h4><br>
        <p>A Recipe Has Ho Soul. You as the cook must bring soul to the Recipe.</p>
      </div>
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/52.jpg">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="swiper-slide">
      <img src="../../../assets/images/80.jpg"></div>

</div>
