<div class="container" ><h1 class="h1 mt-3 mb-5">Cocktails Menu</h1></div>
    <!-- <app-slides></app-slides> -->
    <div class="container" id="home">
            <div class="home-card">
                <h5>taste deferent cultures</h5>
                <img src="../../../assets/images/12.jpg" alt="">
            </div>
            <div class="home-card">
                <h5>enjoy the try</h5>
                <img src="../../../assets/images/chef.png" alt="">
            </div>
            <div class="home-card">
                <h5>taste deferent cultures</h5>
                <img src="../../../assets/images/41.jpg" alt="">
            </div>
    </div>
    <div class="container"><h1 class="h1 mt-3 mb-5">Loved by users everywhere</h1>
        <div class="rating">
            <div  class="rate" >
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <h4>Dina</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consecter adipisicing elit, sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <h4>Dina</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consecter adipisicing elit, sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature">
                            <h4>Dina</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consecter adipisicing elit, sed do eiusmod tempor incididunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

