<app-slides></app-slides>
<div class="container">
    <h1 class="h1 mt-3 mb-5 mt-5">What We Do !</h1>
</div>
<div class="container" id="home">
    <div class="home-card">
        <h3>Taste Deferent Cultures</h3>
        <img src="/assets/images/27.jpg" alt="">
    </div>
    <div class="home-card">
        <h3>Enjoy The Try</h3>
        <img src="/assets/images/45.jpg" alt="" style="height:50%">
    </div>
    <div class="home-card">
        <h3>Taste Deferent Cultures</h3>
        <img src="/assets/images/52.jpg" alt="">
    </div>

</div>
<div class="container mt-5" id="most-Pupular">
    <h1 class="h1 mt-5 mb-3">Most Popular Recipes</h1>
    <ul>
        <li class="card mt-5" *ngFor=" let recipe of recipesShow, index as i">
            <div class="image">
                <img class="card-img-top" src="{{recipeImgs[i]}}"  onerror="this.src='assets/images/pizza.jpg'" />
            </div>
            <div class="card-text">
                <h5 class="card-title">{{recipe.title}}</h5>
                <div class="details">
                    <a class="details" (click)="getRecipeDetails(recipe)">View Details </a>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </li>

    </ul>
</div>

<div class="container mt-5" id="most-Pupular">
    <h1 class="h1 mt-5 mb-3">Most Popular Cocktails</h1>
    <ul>
        <li class="card mt-5" *ngFor="let cocktail of cocktailsShow, index as i" >
            <div class="image">
                <img class="card-img-top" src="{{cocktailImgs[i]}}"  onerror="this.src='assets/images/ice cofee.jpg'" />
            </div>
            <div class="card-text">
                <h5 class="card-title">{{cocktail.name}}</h5>
                <div class="details">
                    <a class="details" (click)="getRecipeDetails(cocktail)">View Details </a>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </li>
    </ul>
</div>