<div class="container">
    <div class="title">
        <div class="text">
            <h1 class="h1  pt-5">My Favorite</h1>
            <p>Find the <span>Best Recipes</span> and seasonal menu ideas for people who love to cook.</p>
        </div>
    </div>
    <div class="searchbox">
        <div class="input-group mb-3">
            <input [(ngModel)]="favValue" type="text" class="form-control" placeholder="&#xf002; Search" style="font-family: FontAwesome, Arial; font-style: normal;">
            <button (click)="search()" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Find Recipe</button>
        </div>
    </div>
    <ul>
      <li class="card mt-3" *ngFor="let fav of favoritesSearch">
        <div class="image">
          <i class="fa fa-star" aria-hidden="true" (click)="deleteFromFavorite(fav)"  ></i>
            <img src="assets/images/pexels-ash-376464.jpg" class="card-img-top" alt="..." />
        </div>
        <div class="card-text">
            <h5 class="card-title">{{fav.type_id}}</h5>
            <div class="details">
                <a class="details" (click)="getRecipeDetails(fav.type)"  >View Details </a>
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
    </li>
        <li class="card mt-3" *ngFor="let fav of favorites">
            <div class="image">
              <i class="fa fa-star" aria-hidden="true" (click)="deleteFromFavorite(fav)"  ></i>
                <img src="assets/images/pexels-ash-376464.jpg" class="card-img-top" alt="..." />
            </div>
            <div class="card-text">
                <h5 class="card-title">{{fav.type_id}}</h5>
                <div class="details">
                    <a class="details" (click)="getRecipeDetails(fav.type)">View Details </a>
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </li>

    </ul>
</div>
