<main>
    <div class="main">
        <div>
            <h2>{{data.name}}{{data.title}}</h2>
            <img src="../../../assets/images/pexels-ash-376464.jpg">
            <form class="rating">
                <div class="stars">
                    <input type="radio" id="five" name="rate" value="5" (click)="setRate(5)">
                    <label for="five"></label>
                    <input type="radio" id="four" name="rate" value="4" (click)="setRate(4)">
                    <label for="four"></label>
                    <input type="radio" id="three" name="rate" value="3" (click)="setRate(3)">
                    <label for="three"></label>
                    <input type="radio" id="two" name="rate" value="2" (click)="setRate(2)">
                    <label for="two"></label>
                    <input type="radio" id="one" name="rate" value="1" (click)="setRate(1)">
                    <label for="one"></label>
                    <span class="result"></span>
                </div>
            </form>
        </div>
        <div class="list">
            <h3>Ingredients</h3>
            <p>{{data.ingredients}}</p>
            <h3> servings</h3>
            <p>{{data. servings}}</p>
        </div>
    </div>
    <div class="Directions">
        <h3>Directions</h3>
        <p>
            {{data.instructions}}
        </p>
        <div class="editDiv">
            <button type="button" class="edit">Edit Your Recipe</button>
        </div>
    </div>
    <h5 class="tittle">Comments</h5>
    <div class="container comment-container" *ngFor="let comment of comments">
        <div class="comment-card" id="first-comment">
            <h6 class="comment-tittle">Aya Oweinah</h6>
            <p>
                noor edit{{comment.comment}}
                <br>Thank You
            </p>
        </div>
    </div>
    <h5 class="tittle">Leave a Comment</h5>
    <div class="container comment-box">
        <form class="textform" [formGroup]="commentForm" (ngSubmit)="saveComment(commentForm.value)">
            <textarea formControlName="comment" name="comment" class="textarea" placeholder="Add Your Comment.."
                cols="30" rows="10"></textarea>
            <button class="commentbutton" type="submit">Add Comment</button>
        </form>
    </div>
</main>