<main>
    <div class="main">
        <div>
            <img src="../../../assets/images/pexels-ash-376464.jpg">
            <form class="rating">
                <div class="stars">
                    <input type="radio" id="five" name="rate" value="5" (click)="setRate(5)">
                    <label for="five"></label>
                    <input type="radio" id="four" name="rate" value="4" (click)="setRate(4)">
                    <label for="four"></label>
                    <input type="radio" id="three" name="rate" value="3" (click)="setRate(3)">
                    <label for="three"></label>
                    <input type="radio" id="two" name="rate" value="2" (click)="setRate(2)">
                    <label for="two"></label>
                    <input type="radio" id="one" name="rate" value="1" (click)="setRate(1)">
                    <label for="one"></label>
                    <span class="result"></span>
                </div>
            </form>
        </div>
        <div class="list">
            <h2>Ingredients</h2>
            <ul>

                <li>1 cup all-purpose flour, (spooned and leveled)</li>
                <li>2 tablespoons sugar</li>
                <li>2 teaspoons baking powder</li>
                <li>1/2 teaspoon salt</li>
                <li>1 cup milk</li>
                <li>2 tablespoons unsalted butter, melted, or vegetable oil</li>
                <li>1 large egg</li>
                <li>1 tablespoon vegetable oil</li>
                <li>Assorted toppings, such as butter, maple syrup, confectioners' sugar, honey, jams, preserves, sweetened whipped cream, or chocolate syrup</li>
            </ul>
        </div>
    </div>
    <div class="Directions">
    <h3>Directions</h3>
    <p>
        <b>Step 1:</b>
        <br>Preheat oven to 200 degrees; have a baking sheet or heatproof platter ready to keep cooked pancakes warm in the oven. In a small bowl, whisk together flour, sugar, baking powder, and salt; set aside.
        <br><b>Step 2:</b>
        <br>In a medium bowl, whisk together milk, butter (or oil), and egg. Add dry ingredients to milk mixture; whisk until just moistened (do not overmix; a few small lumps are fine).
        <br><b>Step 3:</b>
        <br>Heat a large skillet (nonstick or cast-iron) or griddle over medium. Fold a sheet of paper towel in half, and moisten with oil; carefully rub skillet with oiled paper towel.
        <br><b>Step 4:</b>
        <br>For each pancake, spoon 2 to 3 tablespoons of batter onto skillet, using the back of the spoon to spread batter into a round (you should be able to fit 2 to 3 in a large skillet).
        <br><b>Step 5:</b>
        <br>Cook until surface of pancakes have some bubbles and a few have burst, 1 to 2 minutes. Flip carefully with a thin spatula, and cook until browned on the underside, 1 to 2 minutes more. Transfer to a baking sheet or platter; cover loosely with aluminum foil, and keep warm in oven. Continue with more oil and remaining batter. (You'll have 12 to 15 pancakes.) Serve warm, with desired toppings.
    </p>
    <div class="editDiv">
        <button type="button" class="edit">Edit Your Recipe</button>
    </div>
</div>
    <h5 class="tittle">Comments</h5>
    <div class="container">
        <div class="comment-container">
            <div class="comment-card" id="first-comment">
                <h6 class="comment-tittle">Aya Oweinah</h6>
                <p>
                    Testy and simple recipe
                    <br>Thank You
                </p>
                <div class="comment-footer">
                    <div> 3 Likes</div>
                    <div class="show-replies">1 Reply</div>
                </div>
            </div>
            <div class="comment-container">
                <div class="comment-card" dataset="first-comment" id="first-reply">
                    <h6 class="comment-tittle">Nismah</h6>
                    <p>Thank You Sweety</p>
                    <div class="comment-footer">
                        <div> 5 Likes</div>
                        <div class="show-replies">2 Reply</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="tittle">Leave a Comment</h5>
    <div class="container comment-box">
        <form class="textform" [formGroup]="commentForm" (ngSubmit)="saveComment()"  >
            <textarea class="textarea"name="Comment" placeholder="Add Your Comment.." cols="30" rows="10"></textarea>
            <button class="commentbutton" type="submit">Add Comment</button>

        </form>
    </div>
</main>


