
.card-text{
  padding: 10px;
}
h5{
  font-weight: bold;
}
.fa-plus-square-o{
  font-size: 80px;
  color: #d54215;
}
.image{
  position: relative;

  width: 100%;
  height: 30vh;
}
.image img{
  width: 100%;
  height: 100%;
}
.details{
  font-size: 20px;
  width: 70%;
  color: rgb(43, 43, 43);
}
.details:hover{
  color: #d54215;
}
.user-card{
  box-shadow:  5px 5px 10px #c1c1c1;
  width: 22vw;
  height: 45vh;
  max-height: 45vh;
  max-width: 22vw;
  background-color: white;
}
.card-body{
  border: 1px solid lightgray;
  overflow: hidden;

}
ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
li{
  margin-left: 15px;
  display: flex;

}
.details{
  text-decoration: none;
}
.icons{
  position: absolute;
    z-index: 1;
    font-size: 25px;
    right: 10px;
    color: rgb(19, 19, 19);
}
.fa-share-square-o{
  margin-right: 10px;
  cursor: pointer;
}
.fa-share-square-o:hover{
  color: #d54215;
}
.fa-minus-circle{
  margin-right: 10px;
  cursor: pointer;
}
.fa-minus-circle:hover{
  color: #d54215;
}
.modal-footer button{
  background-color: var(--primary-color);
}
.modal-body {
  font-size: 20px;
}
.modal-title{
  font-weight: bold;
  text-align: center;
  margin: auto;
}
input{
  accent-color: #d54215;
  margin: 10px;
}
p{
  margin-bottom: 0;
}
/* .card2{
  width: 20vw;
  height: 40vh;
  background-color: rgb(199, 178, 178);

}
.card2 .title{
  display: flex;
  justify-content: space-between;
}
.image2{
  width: 100%;
  height: 15vh;
}
.image2 img{
  width: 100%;
  height: 100%;
} */
