<li>
    <div class="card mt-5" style="width: 15rem">
        <div class="image">
            <div class="icons">
                <i class="fa fa-share-square-o"*ngIf="recipe" (click)="changeFlag(recipe)" ></i>
                <i class="fa fa-share-square-o"*ngIf="cocktail" (click)="changeFlag(cocktail)" ></i>
                <i class="fa fa-minus-circle" *ngIf="recipe" (click)="deleteAlert(recipe)" ></i>
                <i class="fa fa-minus-circle" *ngIf="cocktail" (click)="deleteAlert(cocktail)" ></i>
                   
            </div>
            <img *ngIf="recipe" src="{{recipe.image}}" class="img-fluid rounded-start">
            <img *ngIf="cocktail" src="assets/images/smothi3.jpg" class="card-img-top" alt="..." />
        </div>
        <div class="card-text">
            <h5 class="card-title">{{recipe?.title}}</h5>
            <h5 class="card-title">{{cocktail?.name}}</h5>
            <div class="details">
                <a class="details" *ngIf="recipe" (click)="getUserRecipeDetails(recipe)">View Details </a>
                <a class="details" *ngIf="cocktail" (click)="getUserRecipeDetails(cocktail)">View Details </a>
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
    </div>
</li>
