.container{
  width: 50%;
  border: 1px solid rgb(215, 223, 232);
  border-radius: 20px;
  padding: 40px;
  background-image: url("src/assets/images/food3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
h1{
  margin-bottom: 20px;
  text-align: center;
}
p {
  font-size: 14px;
  color: red;
}
