
<li class="cards" >
    <div class="card  mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/images/food03.jpg" class="img-fluid rounded-start"  >
            </div>
            <div *ngIf="recipe" class="col-md-8">
                <div class="card-body" >
                    <h4 class="card-title">{{recipe.title}} <i class="fa fa-star" type="checkbox"aria-hidden="true" (click)="addFavorite(recipe)" ></i></h4>
                    <p class="card-text">{{recipe.ingredients}}</p>
                </div>
                <div class="details">
                    <a class="details" (click)="getRecipeDetails(recipe)">View Details
                      <i class="fa fa-arrow-right"></i> </a>
                </div>
            </div>
            <div *ngIf="cocktail" class="col-md-8">
              <div class="card-body" >
                  <h4 class="card-title">{{cocktail.name}} <i class="fa fa-star" type="checkbox"aria-hidden="true" (click)="addFavorite(cocktail)" ></i></h4>
                  <p class="card-text">{{cocktail.ingredients}}</p>
              </div>
              <div class="details">
                <a class="details" (click)="getRecipeDetails(cocktail)">View Details
                  <i class="fa fa-arrow-right"></i> </a>
            </div>
          </div>

        </div>
    </div>
</li>
