<div class="container">
    <div class="title">
        <div class="text">
            <h1 class="h1  pt-5"> Recipes Menu</h1>
            <p>Find the <span>Best Recipes</span> and seasonal menu ideas for people who love to cook.</p>
        </div>
        <button type="button" (click)="goToUserRecipes()" style="max-height:60px; height:50px;">Go To My
            Recipes</button>
    </div>
    <div class="searchbox">
        <form>
            <input [(ngModel)]="recipe" type="text" name="search" class="form-control" placeholder="&#xf002; Search"
                style="font-family: FontAwesome, Arial; font-style: normal;">
            <button (click)="loadRecipe()" class="btn " type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>
    <div>
    <ul>
        <app-card [recipe]="recipe" *ngFor="let recipe of recipes"></app-card>
        
    </ul>
  </div>
</div>
