
<div id="spanner" *ngIf="loader"  role="status">
  <img  src="assets/images/Spinner-1s-341px (1).svg">
</div>
<div class="container" *ngIf="!loader">
    <div class="title">
        <div class="text">
            <h1 class="h1  pt-5"> Recipes Menu</h1>
            <p>Find the <span>Best Recipes</span> and seasonal menu ideas for people who love to cook.</p>
        </div>
        <button type="button" (click)="goToUserRecipes()">Go To My
            Recipes</button>
    </div>
    <div class="searchbox">
        <form>
            <input (keyup.enter)="loadRecipe()" [(ngModel)]="recipe" type="text" name="search" class="form-control" placeholder="&#xf002; Search"
                style="font-family: FontAwesome, Arial; font-style: normal;">
            <button (click)="loadRecipe()" class="btn " type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>

    <ul>
       <app-card style="width: 45%;" [recipe]="recipe" [recipeImgs]="recipeImgs[i]" *ngFor="let recipe of recipes, index as i "></app-card>
    </ul>
</div>

