<div class="bac">
<div class="container">
  <div class="text">
    <h1 class="h1  pt-5"> Cocktails Menu</h1>
    <p>Find the <span>Best Recipes</span> and seasonal menu ideas for people who love to cook.</p>
  </div>
  <div class="searchGroup">
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="&#xf002; Search by Name" style="font-family: FontAwesome, Arial; font-style: normal"/>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control"placeholder="&#xf002; Search by Ingredients" style="font-family: FontAwesome, Arial; font-style: normal"/>
    </div>
    <div class="col-md-3">
      <button type="button" (click)="goToMyCocktails()">My Own Cocktails</button>
    </div>
  </div>

  <ul>
    <li>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/images/smothi.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body" >
              <h5 class="card-title">Smothi</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
            <div class="details">
                <a class="details" href="#">View Details<i class="fa fa-arrow-right"></i> </a>
              </div>
          </div>
        </div>
      </div>
    </li>
    <li>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/smothi.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" >
            <h5 class="card-title">Smothi</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
          <div class="details">
              <a class="details" href="#">View Details<i class="fa fa-arrow-right"></i> </a>
            </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/smothi.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" >
            <h5 class="card-title">Smothi</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

          </div>
          <div class="details">
              <a class="details" href="#">View Details<i class="fa fa-arrow-right"></i> </a>
            </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/images/smothi.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" >
            <h5 class="card-title">Smothi</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="details">
              <a class="details" href="#">View Details <i class="fa fa-arrow-right"></i> </a>
            </div>
        </div>
      </div>
    </div>
  </li>
  </ul>

</div>
</div>
<!-- <div class="container">
  <ul>
    <li> -->
  <!-- <div class="col-md-3">
    <div class="card shadow-sm">
      <img src="assets/images/smothi.jpg" alt="...">
      <div class="card-body" style="max-height: 20px; overflow :hidden;">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk
          ome quick example text to build on the card title and make up the bulkome quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</li>
</ul>
</div> -->
