/* You can add global styles to this file, and also import other style files */
body{
  background: rgb(255,245,245);
background: linear-gradient(90deg, rgba(255,245,245,0) 0%, rgba(255,245,245,0) 0%, rgba(230,139,113,0) 0%, rgba(243,193,180,1) 0%, rgba(218,88,49,1) 0%, rgba(213,66,21,0.05972811487876406) 0%, rgba(213,66,21,1) 0%, rgba(214,70,26,0) 0%, rgba(213,66,21,1) 0%, rgba(213,66,21,1) 0%, rgba(213,66,21,1) 0%, rgba(213,66,21,0.3034255938703606) 0%, rgba(213,66,21,0.28661887118128504) 0%, rgba(213,66,21,0.07373371711966037) 76%, rgba(213,66,21,0.23899982356223737) 87%);
  width: 100vw;
  overflow-x: hidden;

}

:root {
  --primary-color: #d54215;
  --shadow: 5px 5px 10px #c1c1c1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'SF Pro Display bold' ;
}
body{
  background: linear-gradient(90deg, rgba(255,245,245,0) 0%, rgba(216, 66, 21, 0.049) 19%, rgba(230, 138, 113, 0.114) 29%, rgba(214,70,26,0) 65%, rgba(213,66,21,0.07373371711966037) 80%, rgba(213,66,21,0.07373371711966037) 100%);
  font-family: 'SF Pro Display regular';
  width: 100vw;
  overflow-x: hidden;
}
.title{
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: 'SF Pro Display regular';

}
h1 {
  font-weight: 500;
  width: 50%;
  border-bottom:  solid #d54215;
}
.text p {
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 20px;
}
#spanner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0;

}
button{
  max-height:50px;
  background-color: #d54215;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.4s;
  opacity: 1;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  padding: 5px;
}
button:hover{
  background-color: #fd6537;
  border:  1px solid #d54215;
  color: black;
}
.searchGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
 a{
  cursor: pointer;
}
