.bac{
  background-image: url('src/assets/images/photo-1490818387583-1baba5e638af-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: right;
}
.container{
  font-family: 'SF Pro Display reguler';

}
h1 {
  margin-right:  auto;
  font-weight: 500;
  width: 40%;
  border-bottom: 5px solid #d54215;
}
span a{
  text-decoration: none;
  color: #d54215;
}

.fa-plus-square-o{
  font-size: 80px;
  color: #d54215;
}
button{
  border: 2px solid #d54215;
  border-radius: 5px;
  background-color: #d54215;
  padding: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.4s;
}
button:hover{
  background-color: transparent;
  border:  2px solid #d54215;
  color: black;

}

.searchGroup{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.card{
  margin-left: 10px;
  width: 15rem;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  5px 5px 10px #c1c1c1;
}
.details{
  text-decoration: none;
  color: black;
}
.icons{
  position: absolute;
    z-index: 1;
    font-size: 25px;
    right: 10px;
    color: black;
}

