.header{
  height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(90, 87, 87, 0.481)),url('src/assets/images/suggest.webp');
}

h2 {
font-size: 35px;
color: white;
margin: auto;
text-align: center;
margin-top: auto;
margin-bottom: 40px;
font-weight: bold;
background-color: rgba(0,0,0,.3);
}
span{
  color: #ff521dec;
  font-weight: bold;
}
.container{
  align-items: center;
  margin: 5vh 5vw;
  font-family: 'SF Pro Display regular';
}
h1{
  font-size: 40px;
  width: 50%;
  margin-left: 5vw;
}
p{margin-top: 3vh;
  width: 60%;
  text-align: center;
  margin-left: 2vw;
  font-size: 30px;
  font-family: 'SF Pro Display regular';
  letter-spacing: 2px;
}

.searchGroups{
    width: 90%;
    margin: auto;
    background-color: #f1f0f0;
    padding: 20px 40px;
}
.search_box{
  display: flex;
}
.card-text{
  padding: 5px;
}
.card-text .card-title{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.card-text svg{
  width: 20px;
  height: 20px;
  fill: #d54215;

}
.fa-heart{
  color: rgb(245, 226, 226);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.fa-heart:hover{
  color: #d54215;
}
.image{
  position: relative;
}

.details:hover{
  color: #d54215;
}
.card{
  box-shadow:  5px 5px 10px #c1c1c1;
  width: 20vw;
}
.card-body{
  border: 1px solid lightgray;
}
ul{
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
}
.list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.details{
  text-decoration: none;
  color: black;
}
input{
  margin-left: auto;

}
button{

  cursor: pointer;
  padding: 1px;
  border-radius: 5px ;
}
.btn-group{
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.btn{
  color: white;
  background-color: #d54215;
}

button{
  background-color: #d54215;
  color: white;
  padding: 5px;
  text-align: center;
}

