.header{
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(121, 118, 118, 0.5)),url('src/assets/images/suggest.webp');
}
h2 {
  color: white;
  margin: auto;
text-align: center;
margin-top: auto;
margin-bottom: 40px;
text-shadow: 5px 5px 4px #000000;
}

.container{
  align-items: center;
  margin: 5vh 5vw;
  font-family: 'SF Pro Display regular';
}

h1{
  font-size: 40px;
  width: 50%;
  margin-left: 5vw;
}
p{margin-top: 3vh;
  width: 60%;
  text-align: center;
  margin-left: 2vw;
  font-size: 30px;
  font-family: 'SF Pro Display regular';
  letter-spacing: 2px;
}
.search{
  display: flex;
  justify-content: space-between;
}
.searchGroup{
  width: 50%;
}
.card-text{
  padding: 5px;
}
.card-text .card-title{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.card-text svg{
  width: 20px;
  height: 20px;
  fill: #d54215;

}
.fa-heart{
  color: rgb(245, 226, 226);
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.fa-heart:hover{
  color: #d54215;
}
.image{
  position: relative;
}

.details:hover{
  color: #d54215;
}
.card{
  box-shadow:  5px 5px 10px #c1c1c1;
  width: 20vw;
}
.card-body{
  border: 1px solid lightgray;
}
ul{
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: space-around;
}
.list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.details{
  text-decoration: none;
  color: black;
}
input{
  margin-left: auto;
  width: 50%;
}
button{

  cursor: pointer;
  padding: 1px;
  border-radius: 5px ;
}
.btn-group{
  width: 50%;

}
.btn{
  color: white;
  background-color: #d54215;
}

button{
  background-color: #d54215;
  color: white;
  padding: 10px;
  text-align: center;
}

