<div class="container">
    <h1 class="h1 mt-3 mb-5">Suggested Recipes</h1>
    <div class="card mt-5" style="width: 15rem">
        <div class="image">
            <i class="fa fa-heart"></i>
    <img src="assets/images/pexels-ash-376464.jpg" class="card-img-top" alt="..." />
        </div>
    </div>
</div>    
<div class="card-text">
    <h5 class="card-title">Pancack</h5>
    <div class="details">
        <a class="details" href="#">View Details </a>
        <i class="fa fa-arrow-right"></i>
    </div>
</div>
                         

